<div>
  <div class="post">
    <h1>Tag Index</h1>
    <ul class="org-ul">
      {{#tags}}
        <li>&nbsp;&nbsp;»&nbsp;&nbsp;<a href="{{tag-uri}}">{{tag-name}} ({{count}})</a></li>
      {{/tags}}
    </ul>
  </div>
</div>